  body {
    margin: 0px;
    padding: 0px;
  }

  .tactix-container {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
  }

  .tactix {
    width: 480px;
    height: 480px;
    background: url('../img/zemin.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
  }

  .hucre {
    border: 2px solid #000;
    width: 116px;
    height: 116px;
    position: relative;
  }
  .tas {
    width: 90px;
    height: 90px;
    background: hsla(0, 100%, 50%, 0.6);
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }

  .tas > div {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: linear-gradient(to left, #93291E, #ED213A);
  }
  .tas-bg-transparent {
    background: transparent!important;
    transition: all 1s;
  }
  .tas-opacity {
    transition: all 2s;
    opacity: 0;
  }

  .islemler {
    width: 480px;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 0.5em;
  }
  .oyuncu-1-gosterge,
  .oyuncu-2-gosterge {
    width: 120px;
    height: 540px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 1;
  }

  .oyuncu-1-gosterge {
    left: 0%;
    background:rgba(255,0,0,.8);
  }

  .oyuncu-2-gosterge {
    background:#1089ff;
    right: 0%;
  }

  .oyuncu-ad {
    width: 5px;
    height: auto;
    word-break: break-all;
    font-size: 20px;
    color:#fff;
  }
  .oyuncu-1-gosterge-hamle {
    animation-name: oyuncu-1-gosterge-hamle;
    animation-duration: 1s;

  }
  @keyframes oyuncu-1-gosterge-hamle {

    0% {
     background:rgba(255,0,0,.8);
   }
   50% {
     background: lime;
   }
   100% {
    background:rgba(255,0,0,.8);
  }
}
.oyuncu-2-gosterge-hamle {
  animation-name: oyuncu-2-gosterge-hamle;
  animation-duration: 1s;

}

@keyframes oyuncu-2-gosterge-hamle {
  0% {
    background:#1089ff;
  }
  50% {
    background: lime;
  }
  100% {
    background:#1089ff;
  }
}

.modal {
  
  background-color: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;

  animation-name: modal-from-top;
  animation-duration: 1s;
}

@keyframes modal-from-left{
  0% {
  left:-100vw;
  }
  100% {
   left:0;
  }
}
@keyframes modal-from-right{
  0% {
  left:100vw;
  }
  100% {
   left:0;
  }
}
@keyframes modal-from-top{
  0% {
  top:-100vw;
  }
  100% {
   top:0;
  }
}
@keyframes modal-from-bottom{
  0% {
  top:100vw;
  }
  100% {
   top:0;
  }
}

.modal-content {
  background: #fff;
  width: 50%;
  margin: 5% 25% auto 25%;
  border: 1px solid #888;
  padding: 20px;
}

.modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #e9ecef;
  border-top-left-radius: .3rem;
  border-top-right-radius: .3rem;
}

.modal-header .modal-title {
  margin-bottom: 0;
  line-height: 1.5;
  font-size: 1.25em;
  float: left;
  font-weight: bold;
}

.modal-header .close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
  padding: 1rem;
  margin: -1rem -1rem -1rem auto;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
  cursor: pointer;
}

.modal-body {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1em;
}

.form-group {
  margin-bottom: 1em;
}

.form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  box-sizing: border-box;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-group label {
  display: inline-block;
  margin-bottom: .5rem;
  font-size: 16px;
  font-weight: bold;
  color: #495057;
}

.modal-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 1rem;
  border-top: 1px solid #e9ecef;
}
.modal-alert{
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
  text-align: center;

}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  margin-left: .25em;
}
.btn-success{
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}
.btn-danger{
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}
.tas-kaldir img,.btn-yeni-oyun img{
  margin-right: 0.3em;
}


.alert-success{
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}
.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.d-none {
  display: none;

}

.bg {
  position: absolute;
  top: 0px;
  background: rgba(103, 230, 220,0.5);
  background: rgba(220, 221, 225);
  background: #f8f9fa;
  width: calc(50% - 360px);
  height: 100vh;
  display: flex;
  align-items: center;
}

.bg-sol {
  left: 0px;
  justify-content: flex-end;
}

.bg-sag {
  right: 0px;
  overflow: hidden;
}

.kura-cekimi-baslik{
  text-align: center;
  margin:10px 25%;
  border-bottom: 1px solid #ccc;
}
.kura-cekimi{
  display: flex;
  justify-content: space-around;

}
.oyuncu-profil{
  padding:10px;
  text-align: center;
}
.btn-kura-cek{
  margin-top: 1em;
  width: 100%;
  display: flex;
  justify-content: center;
}
.btn-kura-cek button{
  width:12em;
}
.modal-kura-cekimi  .alert-success{
  width: 100%;
}
.modal-kura-cekimi .modal-footer{
  flex-direction: column;
}

.bg-sol .aktif-oyuncu {
  animation-name: oyuncu1-left-to-right;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes oyuncu1-right-to-left{
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-400px);
    opacity: 0;
  }
}

@keyframes oyuncu1-left-to-right{
  0% {
    transform: translateX(-400px);
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
    
  }
}

.bg-sag .aktif-oyuncu{
  animation-name: oyuncu2-right-to-left;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}  

@keyframes oyuncu2-left-to-right{
  0% {
    transform: translateX(px);
  }
  100% {
    transform: translateX(400px);
    opacity: 0;
  }
}

@keyframes oyuncu2-right-to-left{

  0% {
    transform: translateX(400px);
  }
  100% {
    opacity: 1;
  }
}
.kaldirilan-tas{
 pointer-events: none;
 transition: all 2s;
 background: #eacda3;  
}

.btn3d {
	position: relative;
	top: -6px;
	border: 0;
	transition: all 40ms linear;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 2px;
  margin-right: 2px;
  display: flex;
  align-items: center;
}

.btn3d:active:focus,
.btn3d:focus:hover,
.btn3d:focus {
	-moz-outline-style: none;
	outline: medium none;
}

.btn3d:active,
.btn3d.active {
	top: 2px;
}

.btn3d.btn-primary {
	box-shadow: 0 0 0 1px #417fbd inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #4D5BBE, 0 8px 8px 1px rgba(0, 0, 0, 0.5);
	background-color: #4274D7;
}

.btn3d.btn-primary:active,
.btn3d.btn-primary.active {
	box-shadow: 0 0 0 1px #417fbd inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 1px 3px 1px rgba(0, 0, 0, 0.3);
	background-color: #4274D7;
}

.btn3d.btn-success {
	box-shadow: 0 0 0 1px #31c300 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #5eb924, 0 8px 8px 1px rgba(0, 0, 0, 0.5);
	background-color: #78d739;
}

.btn3d.btn-success:active,
.btn3d.btn-success.active {
	box-shadow: 0 0 0 1px #30cd00 inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 1px 3px 1px rgba(0, 0, 0, 0.3);
	background-color: #78d739;
}

.modal-responsive-uyari{
  display: none;
}

/* Responsive Uyarı*/
@media screen and (max-width: 767px) {
  .modal-responsive-uyari {
    display: block;
    background-color:rgba(0, 0, 0, .95);
  }
  .modal-oyuncu-girisi,.modal-kura-cekimi{
    display: none!important;
  }
}

/* End Responsive Uyarı*/